<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730432343549-tmfbrsi49r8gddnhq94vj3bloknqdstb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730432343549-tmfbrsi49r8gddnhq94vj3bloknqdstb</string>
	<key>API_KEY</key>
	<string>AIzaSyDkMKnpAYN8n9UZtEz8x4PJwIfNUXYrL_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>730432343549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselearn</string>
	<key>PROJECT_ID</key>
	<string>logintest-iso</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-iso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730432343549:ios:aa84f28dce26698a03dd94</string>
</dict>
</plist>